$notifier-color-opactiy: 0.9;

$notifier-colors: (
    "light":  rgba(255, 255, 255, $notifier-color-opactiy),
    "dark":   rgba(0, 0, 0, $notifier-color-opactiy),
    "green":  rgba(209, 231, 221, $notifier-color-opactiy),
    "yellow": rgba(255, 243, 205, $notifier-color-opactiy),
    "red":    rgba(132, 32, 41, $notifier-color-opactiy)
) !default;

$notifier-types: (
    "default",
    "success",
    "warning",
    "error"
) !default;

$notifier-text-colors: (
    "default": map-get($notifier-colors, "dark"),
    "success": map-get($notifier-colors, "light"),
    "warning": map-get($notifier-colors, "dark"),
    "error":   map-get($notifier-colors, "light")
) !default;

$notifier-bg-colors: (
    "default": map-get($notifier-colors, "light"),
    "success": map-get($notifier-colors, "green"),
    "warning": map-get($notifier-colors, "yellow"),
    "error":   map-get($notifier-colors, "red")
) !default;
