@use "sass:map";

// Variants
$variants: ("default", "success", "warning", "error") !default;

// Positioning
$z-index: 1090 !default;

// Colors
$color-opactiy: 0.9 !default;

$colors: (
    "white": rgba(255, 255, 255, $color-opactiy),
    "black": rgba(0, 0, 0, $color-opactiy),
    "green": rgba(209, 231, 221, $color-opactiy),
    "yellow": rgba(255, 243, 205, $color-opactiy),
    "red": rgba(132, 32, 41, $color-opactiy),
) !default;

$text-colors: (
    "default": map.get($colors, "black"),
    "success": map.get($colors, "black"),
    "warning": map.get($colors, "black"),
    "error": map.get($colors, "white"),
) !default;

$bg-colors: (
    "default": map.get($colors, "white"),
    "success": map.get($colors, "green"),
    "warning": map.get($colors, "yellow"),
    "error": map.get($colors, "red"),
) !default;

// Typography
$font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif !default;
$font-size-base: 1rem !default;
