@import "animations";
@import "variables";

.simple-notifier {
    position: fixed;
    top: 1em;
    left: 50%;
    z-index: 10;
    margin-top: -0.75em;
    margin-bottom: -0.75em;
    font-size: $notifier-font-size;
    transform: translateX(-50%);

    @media (min-width: 48em) { // 768 px
        top: 2em;
    }

    &--pos {
        &-x {
            &-left,
            &-right {
                @media (min-width: 48em) { // 768 px
                    transform: unset;
                }
            }

            &-left {
                @media (min-width: 48em) { // 768 px
                    left: 2em;
                }
            }

            &-right {
                @media (min-width: 48em) { // 768 px
                    left: unset;
                    right: 2em;
                }
            }
        }

        &-y-bottom {
            top: unset;
            bottom: 1em;

            @media (min-width: 48em) { // 768 px
                bottom: 2em;
            }
        }
    }
}

.simple-notification {
    min-width: 17em; // 272 px
    width: calc(100vw - 2em);
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0.75em 1em;
    color: map-get($notifier-text-colors, "default");
    background-color: map-get($notifier-bg-colors, "default");
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.333333);
    backdrop-filter: blur(0.25em);

    @media (min-width: 30em) { // 480 px
        width: 24em;
    }

    @media (min-width: 48em) { // 768 px
        width: 28em;
    }

    &:not(.is-shown) {
        display: none;
    }

    @each $type, $value in $notifier-types {
        &--#{$type} {
            //
            // TODO:
            // Uncomment the following when (if ever) Sass gains proper flow control.
            // https://github.com/sass/sass/issues/378.
            //
            // @if ($type == "default") {
            //     @continue;
            // }

            $color: map-get($notifier-text-colors, $type);
            $background-color: map-get($notifier-bg-colors, $type);

            @if ($color == null) {
                $color: map-get($notifier-text-colors, "default");
            }

            @if ($background-color == null) {
                $background-color: map-get($notifier-bg-colors, "default");
            }

            color: $color;
            background-color: $background-color;
        }
    }

    &__message {
        margin-top: 0;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
