@import "variables";

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade {
    &-in {
        animation-name: fade-in;
    }

    &-out {
        animation-name: fade-out;
    }
}

.simple-notifier {
    box-sizing: border-box;
    position: fixed;
    top: 1.25em;
    left: 50%;
    z-index: $notifier-z-index;
    margin: -0.75em 0;
    line-height: 1.25;
    font-size: $notifier-font-size-base;
    font-family: $notifier-font-family;
    transform: translateX(-50%);

    @media (min-width: 48em) {
        top: 2em;
    }

    &--pos {
        &-y-bottom {
            top: unset;
            bottom: 1.25em;

            @media (min-width: 48em) {
                bottom: 2em;
            }
        }

        &-x {
            &-left,
            &-right {
                @media (min-width: 48em) {
                    transform: unset;
                }
            }

            &-left {
                @media (min-width: 48em) {
                    left: 2em;
                }
            }

            &-right {
                @media (min-width: 48em) {
                    left: unset;
                    right: 2em;
                }
            }
        }
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.simple-notification {
    display: flex;
    gap: 0.5em;
    min-width: 17.5em; // 280 px
    width: calc(100vw - 2.5em);
    margin: 0.75em 0;
    padding: 0.75em 1em;
    color: map-get($notifier-text-colors, "default");
    background-color: map-get($notifier-bg-colors, "default");
    border: solid 0.0625em map-get($notifier-bg-colors, "default");
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.333333);
    backdrop-filter: blur(0.25em);

    // 540 px
    @media (min-width: 33.75em) {
        width: 28em; // 448 px
    }

    @each $type, $value in $notifier-types {
        @if $type != "default" {
            &--#{$type} {
                color: map-get($notifier-text-colors, $type);
                background-color: map-get($notifier-bg-colors, $type);
                border-color: scale-color(
                    $color: map-get($notifier-bg-colors, $type),
                    $lightness: -5%
                );
            }
        }
    }

    &__part {
        &--main {
            flex-grow: 1;
            overflow-x: hidden;
        }
    }

    &__title,
    &__message {
        font-size: 1em;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__message {
        margin: 0;
        font-weight: 400;
    }

    &__hide-button {
        position: relative;
        display: block;
        width: 1.25em;
        height: 1.25em;
        padding: 0;
        font-size: $notifier-font-size-base;
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }

        &::before,
        &::after {
            content: "";
            position: relative;
            display: block;
            border-top: solid 0.125em map-get($notifier-text-colors, "default");
            border-radius: 1em;

            @each $type, $value in $notifier-types {
                @if $type != "default" {
                    @at-root .simple-notification--#{$type} & {
                        border-top-color: map-get($notifier-text-colors, $type);
                    }
                }
            }
        }

        &::before {
            top: 0.0625em;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0.0625em;
            transform: rotate(-45deg);
        }
    }
}
