$notifier-white: white;
$notifier-green: green;
$notifier-yellow: yellow;
$notifier-red: red;

$states: (
    "default": $notifier-white,
    "success": $notifier-green,
    "warning": $notifier-yellow,
    "error": $notifier-red
) !default;
